/* ! RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* ! ROOT */

:root {
    --color-main-btn: #0061FF;
    --bg-color-main: #B4D0E7;
}


/* !GENERICS */

header{
    height: 80px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 5px 5px rgba(148, 146, 146, 0.197);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

h1 {
    padding: 50px 0;
    font-size: 80px;
    font-weight: 900;
}

h2{
    margin-top: 150px;
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;

}

h6 {
    font-size: 1rem;
}

footer{
    background-color: #000000;
}

.fa-check {
    color: var(--color-main-btn);
}

/* !UTILITY */


.bg-main{
    background-color: var(--bg-color-main);
}

.btn {
    padding: 10px 20px;
    background-color: var(--color-main-btn);
    color: white;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

/* UTILITY LAYOUT */

.d-flex{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container-stretch{
    width: 1080px;
    margin: 0 auto;
}

.col-30{
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}


/*  ! HEADER */

.container-header-lef, .container-header-right  {
    align-items: center;
}

.container-header-lef li, .container-header-right li{
    display: inline-block;
    padding: 0 20px;
}

.logo {
    padding: 0 20px;
}

.log-in {
    padding: 0 20px;
    background-color: white;
    color: black;
}

.join {
    color: white;
    margin-right: 20px;
}

header ul a{
    height: 80px;
    display: flex;
    align-items: center;
}

header ul li a:hover{
    border-bottom: 2px solid gray;
}

/* ! MAIN */

/* JUMBOTRON */

#jumbotron {
    background-color: var(--bg-color-main);
    min-height: 850px;
}

#jumbotron .container{
    position: relative;
    top: 120px; 
}

.free-trial {
    padding: 10px 10px;
    display: inline-block;
}

/* BILLING */

.billing {
    margin: 30px 0;
    align-items: center;
}

.bill-annual{
    margin-left: 50px;
}

.bill-monthly, .bill-annual{
    height: 18px;
    width: 18px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-right: 5px;
}

.bill-monthly:hover, .bill-annual:hover{
    border: 5px solid var(--color-main-btn);
}


/* SERVICES PLANS */

.column-services-plans {
    justify-content: space-between;
}

.description-plan {
    flex-direction: column;
    padding: 0 40px;
}

.individual, .team, .business, .business-team {
    border-bottom: 1px solid rgba(128, 128, 128, 0.66);
    height: 50px;
    justify-content: center;
    align-items: center;
}

.description-plan *{
    padding: 10px 0;
}

.services-plans{
    max-width: 330px;
    border: 1px solid rgba(128, 128, 128, 0.66);
}

.description-plan h4 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.trial-30{
    padding: 10px 20px;
    text-align: center;
}

.shop-now{
    text-decoration: underline;
    color: blue;
    padding-left: 5px;
}

.separator {
    margin: 50px 0;
    width: 50px;
    border-bottom: 1px solid gray;
}

.individual i, .team i, .business i, .business-team i {
    padding-right: 5px;
}

/* ICONS */

.description-plan li {
    padding-left: 1rem ;
    text-indent: -0.7rem;
}

.description-plan li::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.description-plan li.check::before{
    font: var(--fa-font-solid);
    content: "\f00c";
    color: var(--color-main-btn);
    padding-right: 5px;
}

.description-plan li.folder::before{
    font: var(--fa-font-solid);
    content: "\f07b";
    padding-right: 5px;
}

.description-plan li.n-user::before{
    font: var(--fa-font-solid);
    content: "\f007";
    padding-right: 5px;
}

.description-plan li.fa-share::before{
    font: var(--fa-font-solid);
    content: "\f1e0";
    padding-right: 5px;
}

/* SPECIAL PLAN */

.container-special-plan{
    border: 1px solid rgba(128, 128, 128, 0.66);
    margin-top: 50px;
    flex-direction: column;
}

.titol-special-plan {
   max-width: 70%;
   padding: 20px;
}

.titol-special-plan h4{
    padding-bottom: 20px;
}

.titol-special-plan p {
    padding-top: 50px ;
}

.name-spacial-plan{
    padding: 40px 20px;
    justify-content: space-between;
}

.contact-sales-office{
    padding: 10px 50px;
}

.btn-contact-salec-office {
    padding-top: 20px;
}

/* PARTNER */

.welcom {
    margin-top: 150px;
}

.img-partner img{
    max-height: 500px;
}

.description-partner{
    width: 50%;
    padding: 50px;
}

.description-partner * {
    padding: 10px 0;
}

.description-partner p {
    padding-bottom: 50px;
}

.find-partner {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin-top: 20px
}

/* SECTION BUSINESS PLAN  */

.container-business-plan{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    padding: 50px 0;
}

.card img{
    width: 100%;
}

.card h4 {
    padding-bottom: 30px;
}

.discover-more{
    padding-top: 50px;
    margin-bottom: 200px;  
}

.discover-more a {
    text-decoration: underline;
    color: var(--color-main-btn);
}

/* BUSINESS PARTNER */

.partner {
    margin: 100px 0;
}

.square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square > .small-square {
    flex-basis: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner img, .partner svg{
    width: 50%;
    height: auto;
}

.small-square:hover {
  border: 15px solid rgba(255, 255, 255, 0.5);
}

.square.midle {
    display: block;
}

.partner svg {
    margin: 20px 30px;
}

.square .separator{
    margin-left: 30px;
    width: 25%;
}

.square.midle p {
    padding: 0 30px;
}

/* CONTAINER-LEFT */

.bgc-green{
    background-color: #A2D39B;
}

.bgc-brown {
    background-color: #61082B;
}

.bgc-skyblue{
    background-color: #0093CE;
}

.bgc-red {
    background-color: #FF1C1C;
}

/* SQUARE CENTER  */

.bgc-gray {
    background-color: #F5F5F5;
}


/* CONTAINER-RIGHT */

.bgc-dark-red{
    background-color: #D5001F;
}

.bgc-light-blue {
    background-color: #B4D0E7;
}

.bgc-dark-blue{
    background-color: #0D2481;
}

.bgc-yellow {
    background-color: #FFD830;
}

/* TRY DROPBOX BUSINESS */

.try-business-plan {
    justify-content: space-between;
    align-items: center;
}

.try-business-plan h2{
    color: #61082B;
    margin-bottom: 150px;
    width: 50%;
}

.cnt-btn-free-trail {
   width: 30%;
}

.cnt-btn-free-trail .free-trial {
    background-color: white;
    color: black;
    padding: 10px 60px;
    font-size: 1.1rem;
}

/* FAQ */

.faq {
    margin-bottom: 200px;
}

.faq h2 {
    margin-bottom: 50px;
}

.faq div {
    border-top: 1px solid black;
    padding: 40px 0
}

.faq-questions {
    font-weight: 600;
    position: relative;
}

.faq:last-child{
    border-bottom: 1px solid black;
}

.fa-angle-down {
    position: absolute;
    right: 50px;
    top: 0;
}

.faq-questions:hover, .fa-angle-down:hover, #language-list:hover{
    cursor: pointer;
}

.container-faq {
    justify-content: space-between;
    align-items: center;
}

.answer {
    display: none;
    padding: 0 30px;
    padding-top: 20px;
    font-style: italic;
}

.faq-questions:hover + .answer{
    display: block;
}

/* ! FOOTER */

.column-footer h4, .column-footer a {
    color: white;
    display: block;
    padding-bottom: 10px;
}

.column-footer h4{
    padding-bottom: 40px;
}

.column-footer{
    width: calc(100% / 5);
    padding: 100px 0;
}

.column-footer a:hover{
    text-decoration: underline;
}

.fa-earth-americas, #language-list {
    color: gray;
}

.language {
    height: 50px;
    border-top: 1px solid gray;
    padding-bottom: 100px;
    padding-top: 100px;
    display: inline-block;
}

#language-list{
    background-color: #000000;
    font-size: 1rem;
    border: 0;
}

