/* ! RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* !GENERICS */

header{
    height: 80px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

main{
    margin-top: 80px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    padding: 50px 0;
    font-size: 80px;
    font-weight: 900;

}

h2{
    margin-top: 200px;
    font-size: 2.5rem;
}

h6 {
    margin-top: 90px;
    font-size: 1rem;
}

footer{
    background-color: #000000;
}

.fa-check {
    color: #0061FF;
}

/* !UTILITY */

.d-flex{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
    border: 2px dashed red;
}

.bg-main{
    background-color: #B4D0E7;
}

.btn {
    padding: 5px 15px;
    margin-right: 10px ;
    background-color: #0061FF;
    color: white;
}

.container-stretch{
    width: 1080px;
    margin: 0 auto;
    border: 2px dashed green;
}

/*  ! HEADER */

.container-header-lef, .container-header-right  {
    align-items: center;
}

.container-header-lef li, .container-header-right li{
    height: 100%;
    display: inline-block;
    padding: 0 20px;
}

.logo {
    padding: 0 20px;
}

.log-in {
    padding: 0 20px;
    background-color: white;
    color: black;
}

.join {
    color: white;
    margin-right: 20px;
}

/* ! MAIN */

/* JUMBOTRON */

.description-main{
    max-width: 40%;
   
}

.img-jumbotron {
    max-height:400px;
}

.img-jumbotron img{
    max-height: 500px; 
}

.description-main p {
    padding-bottom: 50px;
}

.description-main span{
    display: block;
    padding-top: 50px;
}

.fa-arrow-down {
    margin-top: 70px;
    font-size: 3rem;
}

/* BILLING */

.billing {
    margin: 30px 0;
    align-items: center;
}

.bill-annual{
    margin-left: 50px;
}

.bill-monthly, .bill-annual{
    height: 18px;
    width: 18px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-right: 5px;
}

.bill-monthly:hover, .bill-annual:hover{
    border: 5px solid #0061FF;
}


/* SERVICES PLANS */

.column-services-plans {
    justify-content: space-between;
}

.description-plan {
    flex-direction: column;
    padding: 0 50px
}

.description-plan *{
    padding: 10px 0;
}

.description-plan:last-child{
    padding-bottom: 50px;
}

.services-plans{
    max-width: 330px;
    border: 1px solid rgba(128, 128, 128, 0.66);

}

.individual, .team, .bussiness{
    border-bottom: 1px solid rgba(128, 128, 128, 0.66);
    height: 50px;
}

.description-plan h4 {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 20px;
}

.description-plan span i{
    padding-right: 5px;
    line-height: 0;
}

.n-user{
    padding-top: 50px;
}

.trial-30{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.shop-now{
    text-decoration: underline;
    color: blue;
    padding-left: 5px;
}

.separator {
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}
















/* SPECIAL PLAN */

.container-special-plan{
    border: 1px dashed black;
    background-color: seagreen;
    margin-top: 50px;
    flex-direction: column;
}

.bussiness-team{
    height: 50px;
    border: 1px solid black;
    background-color: coral;
}

.name-spacial-plan{
    height: 150px;
    border: 1px solid black;
    background-color: lightgreen;
}

.description-special-plan{
    height: 100px;
    border: 1px solid black;
    background-color: lightpink;
}

/* PARTNER */

.partner{
    margin-top: 50px;
}

.description-partner{
    flex-direction: column;
    width: 40%;
    border: 1px dashed black;
    background-color: tomato;
}

.img-partner{
    height: 400px;
    width: 60%;
    border: 1px dashed black;
    background-color: aquamarine;
}

/* SECTION BUSSINESS PLAN  */

.container-bussiness-plan{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    width: 300px;
    height: 500px;
    border: 1px dashed black;
    background-color: skyblue;
}

/* CONTAINER JUMBO IMG */

.container-jumbo-img{
    margin-top: 50px;
}

.container-left{
    width: calc(100% / 3);
    height: 600px;
    border: 1px dashed black;
    background-color: violet;
}

.container-midle{
    width: calc(100% / 3);

    height: 600px;
    border: 1px dashed black;
    background-color: turquoise;
}

.container-right{
    width: calc(100% / 3);

    height: 600px;
    border: 1px dashed black;
    background-color: tomato;
}

/* FAQ */

.faq {
    height: 400px;
    border: 1px dashed black;
    background-color:violet;
}


/* ! FOOTER */

.column-footer{
    width: calc(100% / 5);
    height: 500px;
    border: 1px dashed black;
    background-color: tomato;
}

.language {
    height: 50px;
    border: 1px dashed black;
    background-color: aqua;
}